Adult Mortality Rate
Organization: WHO (World Health Organization)
Link: https://www.kaggle.com/dhamur/adult-mortality-rate

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('Both sexes.csv')
df.head()

,Unnamed: 0,ParentLocation,Location,Period,Sex,Adult mortality rate,DateModified
0,0,Americas,Barbados,2016,Both sexes,100.4,2018-05-06T18:30:00.000Z
1,1,Europe,Serbia,2016,Both sexes,102.5,2018-05-06T18:30:00.000Z
2,2,Europe,Turkey,2016,Both sexes,104.0,2018-05-06T18:30:00.000Z
3,3,Europe,Slovakia,2016,Both sexes,104.1,2018-05-06T18:30:00.000Z
4,4,Western Pacific,Samoa,2016,Both sexes,110.4,2018-05-06T18:30:00.000Z

In [2]:
df.describe()

       Unnamed: 0       Period  Adult mortality rate
count  3111.00000  3111.000000           3111.000000
mean   1555.00000  2008.000000            193.527178
std     898.21267     4.899767            114.007147
min       0.00000  2000.000000             49.200000
25%     777.50000  2004.000000            108.250000
50%    1555.00000  2008.000000            164.800000
75%    2332.50000  2012.000000            250.800000
max    3110.00000  2016.000000            696.900000

This dataset explains the adult mortality rate per 1000 population of almost all countries around the world. This data is divided so we can extract mortality rates from both sexes indivdually and as a whole.